* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /*Colors*/
    --white-color: #FFFFFF;
    --darker-white-color: #F7F7F7;
    --light-gray-color:#E8E9ED;
    --darker-gray-color: #00000029;
    --gray-color: #A5A5A5;
    --gray1-color: #95989A;
    --dark-gray-color: #707070;
    --light-blue-color: #07ACE629;
    --blue-color: #08A6E4;
    --darker-blue-color: #07ACE6;
    --pale-pink-color: #FF091129;
    --pale-pink1-color: #F9043629;
    --pink-color: #FB3B64;
    --pink1-color: #EB476E;
    --green-color: #55DFB4;
    --navy-color: #13253B;
    --black-color: #000000;

    /*Fonts*/
    --Open-font: "Open Sans", sans-serif;
    --Raleway-font: "Raleway", sans-serif;

}

.container {
    width: 1353px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.header {
    height: 70px;
    box-shadow: 0px 3px 6px var(--darker-gray-color);
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo {
    font-family: var(--Raleway-font);
    font-weight: 300;
    font-size: 32px;
    color: var(--blue-color);
}

.nav-menu {
    display: flex;
}

.menu-link {
    font-family: var(--Open-font);
    font-weight: 700;
    font-size: 11px;
    color: var(--gray-color);
    letter-spacing: 3.28px;
    padding: 28px;
    text-transform: uppercase;
    border-bottom: 4px solid transparent;
}

.menu-link:hover {
    border-bottom: 4px solid var(--blue-color);
    color: var(--black-color);
}

.menu-element {
    padding: 0 26px;
}

.nav-menu li:nth-of-type(4) {
    padding-right: 0;
}



